%tabsList {
  width: 100%;
  display: flex;
  gap: 8px;
}

%tab {
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 24px;
  font-weight: 500;
  font-size: 14px;
  color: #000;
  transition: background 0.2s, color 0.2s, stroke 0.2s;
  
  &:hover {
    background: #0406336c;
    color: #fff;
    svg {
      stroke: #fff;
    }
  }
  
  &.selected {
    background: #040633;
    color: #fff;
  }
  
  span {
    display: flex;
    align-items: center;
    gap: 10px;
  }
} 