.wrapper {
    display: flex;
    align-items: start;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    gap: 50px;
    main {
        width: 100%;
        .container {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 20px;
            margin-inline: 0;
        }
    }
}