@use '@/styles/shared.scss' as shared;

.sidebar {
    width: 285px;
    
    .tabsList {
        @extend %tabsList;
        flex-direction: column;
        
        .tab {
            @extend %tab;
            padding: 8px 10px;
            background: transparent;

            * {
                background-color: transparent;
                padding: 0;
            }
            :global(.mantine-Chip-label) {
                width: 100%;
            }
            :global(.mantine-Chip-iconWrapper) {
                display: none;
            }
        }
    }
}
